
/** Administrative tools **/

putty

keepassx

virt-manager
spice-client-gtk

remmina
remmina-plugin-rdp
remmina-plugin-vnc
#if version > 11
remmina-plugin-x2go
#elif version < 11
remmina-plugin-nx
#endif
