
# debian-installer build artifacts
/*/*/debian-installer*.tar.gz
/*/*/debian-installer*.buildinfo
/*/*/debian-installer*.build
/*/*/debian-installer*.changes
/*/*/debian-installer*.deb

# local packages
!/*/*/packages/

# build artifacts
/*/*/images/
/*/*/tmp/

/*/*/profiles/*
/*/*/profiles/groups
!/*/*/profiles/sh
!/*/*/profiles/*.sh

/*/*/stds
/*/*/defs
