
# debian-installer build artifacts
*.tar.gz
*.buildinfo
*.build
*.changes
*.deb

# build artifacts
/*/*/images/
/*/*/tmp/

/*/*/profiles/*
/*/*/profiles/groups
!/*/*/profiles/sh
!/*/*/profiles/*.sh

# defines file
/*/*/defs
